.index-preview {
	color: #fff;
	text-align: center;
	padding: 97px 0px 17px 0px;
	&__number {
		margin-bottom: 15px;
		&-value {
			font-size: 72px;
			display: block;
			margin-bottom: -16px;
			list-style-type: none;
		}
		&-text {
			font-size: 18px;
		}
	}
	&__note {
		position: relative;
		display: inline-block;
		margin-bottom: -10px;
		&-text {
			font-size: 48px;
			display: block;
			margin: 0;
			font-weight: 600;
		}
		&-small {
			color: $blue;
			font-size: 14px;
			font-weight: 600;
			font-style: italic;
			@include position(absolute, 2px -147px null null);
		}
	}
	&__title {
		position: relative;
		&-value {
			font-size: 48px;
			font-weight:300;
			@include transition(all 0.5s ease-in-out);
			@include filter(blur(50px));
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			opacity: 0;
			&.active {
				@include filter(blur(0px));
				position: relative;
				opacity: 1;
			}
		}
	}
	&__scroll {
		margin-top: 116px;
		&-anchor {
			color: #fff;
			font-style: italic;
			border-bottom: 1px dashed rgba(255,255,255,0.5);
			display: inline-block;
			margin-bottom: 13px;
			@include transition(all 0.2s ease-in-out);
			&:hover,
			&:focus {
				text-decoration: none;
				color: $ruby;
				border-bottom: 1px dashed $hoverRuby;
			}
		}
		&-mouse {
			display: inline-block;
			margin-bottom: 5px;
		}
		&-arrow {
			position: relative;
			@include transition(all 0.2s ease-in-out);
			@include animation(ani-mouse 2s ease-in-out infinite);
		}
	}
}

@-webkit-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 0px
	}
	50% {
		opacity: 1;
		top: 30px;
	}
	80% {
		opacity: 0;
		top: 30px;
	}
	100% {
		opacity: 0;
		top: 0px
	}
}
@-moz-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 0px
	}
	50% {
		opacity: 1;
		top: 30px;
	}
	80% {
		opacity: 0;
		top: 30px;
	}
	100% {
		opacity: 0;
		top: 0px
	}
}
@keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 0px
	}
	50% {
		opacity: 1;
		top: 30px;
	}
	80% {
		opacity: 0;
		top: 30px;
	}
	100% {
		opacity: 0;
		top: 0px
	}
}

.flex-section {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 56px;
    a {
    	border-bottom: none;
    	color: inherit;
    	text-decoration: none;
    	&:hover {
    		border-bottom: none;
    		color: inherit;
    		text-decoration: none;
    	}
    }
	&__block {
		padding: 0;
		-ms-flex: 0 0 auto;
		-webkit-flex: 0 0 auto;
		flex: 0 0 auto;
		@include transition(all 0.5s ease-in-out);
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		background-size: cover!important;
		position: relative;
		top: 20px;
		opacity: 0;
		&:before {
			content: '';
			@include position(absolute, 0 null null 0);
			width: 100%;
			height: 100%;
			z-index: -1;
			background: -moz-linear-gradient(-45deg, rgba(234,234,234,1) 0%, rgba(255,255,255,0) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 100%);
			background: linear-gradient(135deg, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#00ffffff',GradientType=1 );
		}
		&.active {
			opacity: 1;
			top: 0;
		}
		&:hover {
			.flex {
				&-section {
					&__block {
						&-item {
							&-text,
							&-block-link {
								opacity: 1;
								top: 0;
							}
						}
					}
				}
			}
		}
		&-item {
			width: 100%;
			height: 100%;
			background-size: cover!important;
			@include flex-wrap(wrap);
			@include justify-content(center);
			@include display(flex);
			@include align-content(space-between);
			text-align: center;
			padding: 30px;
			position: relative;
			z-index: 1;
			&:before {
				content: '';
				@include position(absolute, 0 null null 0);
				width: 100%;
				height: 100%;
				@include transition(all 0.2s ease-in-out);
				background: rgba(0,0,0,0.0);
				z-index: 0;
			}
			&:hover {
				&:before {
					background: rgba(0,0,0,0.6);
				}
			}
			&--large {
				min-height: 500px;
			}
			&-text,
			&-block-link,
			&-title {
				display: block;
				width: 100%;
				position: relative;
				z-index: 2;
				@include transition(all 0.2s ease-in-out);
			}
			&-title {
				font-size: 24px;
				color: #fff;
				&--sm  {
					font-size: 18px;
				}
			}
			&-text {
				font-weight: 300;
				font-size: 18px;
				color: #fff;
				opacity: 0;
				top: -20px;
				line-height: 20px;
			}
			&-block {
				&-link {
					opacity: 0;
					top: 20px;
					&-value {
						color: #fff;
						border-bottom: 1px solid rgba(255,255,255,0.5);
						@include transition(all 0.2s ease-in-out);
						font-weight: 300;
						&:hover,
						&:focus {
							border-bottom: 1px solid $hoverRuby;
							text-decoration: none;
							color: $ruby;
						}
					}
					&-devider {
						color: #fff;
						margin: 0 5px;
					}
				}
			}
		}
	}
}
.page-description {
	// margin-bottom: 59px;
	* {
		font-size: 18px;
	}
	p {
		font-size: 18px;
		font-weight: 300;
	}
	&--width-short {
		max-width: 870px;
		margin: 0 auto 59px auto;
	}
}
.feedback {
	&__section {
		padding: 59px 0;
		background: #f5f5f5;
		&--white {
			background: #fff;
			.feedback__block-preview {
				&:before {
					box-shadow: -8px -19px 18px #fff;
				}
			}
		}
	}
	&__block {
		margin-bottom: 60px;
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		&-img {
			display: block;
			margin: 0 auto 10px auto;
		}
		&-title {
			margin: 0;
			font-weight: bold;
			font-size: 15px;
		}
		&-preview,
		&-position {
			margin: 0 0 10px;
			font-weight: 500;
			font-size: 15px;
			max-height: 100px;
			overflow: hidden;
		}
		&-preview {
			margin-bottom: 20px;
			position: relative;
			&:before {
				content: '';
			    position: absolute;
			    bottom: -27px;
			    width: 105%;
			    height: 20px;
			    left: 0;
			    right: 0;
			    box-shadow: -8px -19px 18px #f5f5f5;
			}
		}
		&-btn {
			background: $blue;
			color: #fff;
			text-decoration: none;
			display: inline-block;
			font-size: 15px;
			font-weight: 500;
			border-radius: 10px;
			padding: 6px 36px;
			@include transition(all 0.2s ease-in-out);
			&:hover,
			&:focus {
				color: #fff;
				background: $ruby;
				text-decoration: none;
			}
		}
	}
	&__all-link {
		position: relative;
		color: $blue;
		font-size: 18px;
		font-weight: 300;
		display: inline-block;
		margin-top: 30px;
		border-bottom: 1px solid $hoverBlue;
		&:hover,
		&:focus {
			border-bottom: 1px solid $hoverRuby;
			color: $ruby;
			text-decoration: none;
		}
		&:before {
			content: '';
			@include position(absolute, 6px -25px null null);
			width: 17px;
			height: 17px;
			background: url(../img/arrows.png) 0 0 no-repeat;
			@include transition(all 0.2s ease-in-out);
		}
		&:hover {
			&:before {
				right: -30px;
				opacity: 0;
			}
		}
	}
	&__content {
		margin-bottom:120px;
		&-blockquote {
			&--left {
				float: left;
				margin: 10px 35px 0 0;
			}
			&--right {
				@include transform(rotate(180deg));
				float: right;
				margin: 0 0 0 25px;
			}
		}
	}
	&__sidebar {
		float: right;
		margin-bottom: 60px;
		&-name {
			font-weight: bold;
			display: block;
			font-size: 15px;
			margin-bottom: 0;
			line-height: normal;
		}
		&-position {
			display: block;
			font-size: 15px;
			font-weight: 500;
			margin-bottom: 20px;
		}
		&-img {
			border: 1px solid #c8c8c8;
		}
	}
}

.form-section {
	padding: 51px 0;
	&--img-bg {
		background: url(../img/form-bg.jpg) 0 0 no-repeat;
		background-size: cover;
	}
	&__block {
		max-width: 635px;
		margin: 0 auto 20px auto;
		&--dark {
			.form-section__block-title {
				color: #fff;
			}
			.form-label {
				color: #fff;
				position: absolute;
			}
			.form-label--checkbox,
			.form-control {
				color: #fff;
			}
		}
		&-title {
			text-align: center;
			font-size: 24px;
			font-weight: 500;
			line-height: normal;
			margin-bottom: 46px;
		}
		&-wrap {
			margin-bottom: 43px;
		}
		&-phone {
			font-size: 48px;
			display: inline-block;
			color: #fff;
			font-weight: 300;
			margin: -10px 0 4px 0;
			&:hover,
			&:focus {
				color: $ruby;
				text-decoration: none;
			}
		}
		&-link {
			font-weight: 300;
			font-size: 24px;
			color: #fff;
			border-bottom: 1px solid rgba(255,255,255,0.5);
			&:hover,
			&:focus {
				color: $ruby;
				text-decoration: none;
				border-bottom: 1px solid $hoverRuby;
			}
			&--dashed {
				border-bottom: 1px dashed rgba(255,255,255,0.5);
				&:hover,
				&:focus {
					color: $ruby;
					text-decoration: none;
					border-bottom: 1px dashed $hoverRuby;
				}
			}
		}
		&-text {
			font-size: 18px;
			display: block;
			color: #fff;
			margin: 21px 0 17px 0 ;
			font-weight: 300;
		}
		&-hidden {
			display: none;
		}
	}
}

.modal {
	position: fixed;
	@include transition(all 0.2s ease-in-out);
	@include position(fixed, 0 0 null null);
	height: 100%;
	overflow: auto;
	z-index: 100;
	background: #003854;
	padding: 40px 70px;
	opacity: 0;
	@include transform(translateX(100%));
	&.active {
		opacity: 1;
		@include transform(translateX(0%));
	}
	&__close {
		@include position(absolute, 20px 20px null null);
		width: 18px;
		height: 18px;
		cursor: pointer;
		@include transition(all 0.2s ease-in-out);
		&:hover {
			@include transform(rotate(180deg));
		}
		&:before,
		&:after {
			content: '';
			@include position(absolute, 8px null null 0);
			width: 100%;
			height: 3px;
			border-radius: 3px;
			background: #fff;
			@include transform(rotate(45deg));
		}
		&:after {
			@include transform(rotate(-45deg));
		}
	}
	&__title {
		color: #fff;
		font-weight: 500;
		font-size: 24px;
		text-align: center;
		display: block;
		margin: 0 0 40px 0;
	}
	form {
		max-width: 310px;
	}
	.form-control--area {
		height: 115px;
	}

}

.cost-section {
	margin: 94px 0 88px 0;
	&__block {
		max-width: 870px;
		margin: 0 auto;
		&-img {
			float: right;
			margin: 54px 0 20px 0;
		}
		&-title {
			font-weight: 300;
			font-style: italic;
			font-size: 24px;
			display: block;
			margin-bottom: 14px;
		}
		&-sub-title {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 18px;
		}
		&-text {
			font-weight: 300;
			font-size: 18px;
			display: block;
			margin-bottom: 15px;
			a {
				border-bottom: 1px solid $hoverBlue;
				&:hover,
				&:focus {
					color: $ruby;
					border-bottom: 1px solid $hoverRuby;
					text-decoration: none;
				}
				&.dashed {
					border-bottom: 1px dashed $hoverBlue;
					&:hover,
					&:focus {
						color: $ruby;
						border-bottom: 1px dashed $hoverRuby;
					}
				}
			}
		}
	}
}

.portfolio {
	&-participant {
		margin-top: 60px;
		padding: 56px 0 38px 0;
		border-top: 1px solid #e5e5e5;
		&__section {
			@include display(flex);
			@include align-items(flex-start);
			@include justify-content(center);
		}
		&__block {
			margin: 0 24px 20px;
			&-position {
				font-weight: 600;
				display: block;
				margin-bottom: 10px;
			}
			&-name {
				display: block;
				font-weight: normal;
			}
		}
	}
}
.error-page {
	background: url(../img/404.jpg) center no-repeat;
	background-size: cover;
	&__content {
		text-align: center;
		color: #fff;
		margin-top: 50px;
		&-title {
			line-height: normal;
			font-size: 48px;
			display: block;
			font-weight: 600;
			margin-bottom: 52px;
		}
		&-text {
			font-size: 18px;
			font-weight: 300;
			display: block;
			line-height: 23px;
			margin-bottom: 20px;
			a {
				border-bottom: 1px solid $hoverBlue;
				&:hover,
				&:focus {
					border-bottom: 1px solid $hoverRuby;
					text-decoration: none;
				}
			}
		}
	}
}

.vacancy-section {
	text-align: center;
	margin-top: 50px;
	&__block {
		margin-bottom: 26px;
		&-link {
			border-bottom: 1px solid $hoverBlue;
			color: $blue;
			font-weight: 500;
			font-size: 24px;
			&:hover,
			&:focus {
				border-bottom: 1px solid $hoverRuby;
				text-decoration: none;
				color: $ruby;
			}
		}
		&-text {
			font-weight: 300;
			display: block;
			font-size: 15px;
			margin-top: 110px;
			a {
				border-bottom: 1px solid $hoverBlue;
				color: $blue;
				&:hover,
				&:focus {
					border-bottom: 1px solid $hoverRuby;
					text-decoration: none;
					color: $ruby;
				}
			}
		}
	}
	&__text {
		font-weight: 300;
		display: block;
		font-size: 15px;
		a {
			border-bottom: 1px solid $hoverBlue;
			color: $blue;
			&:hover,
			&:focus {
				border-bottom: 1px solid $hoverRuby;
				text-decoration: none;
				color: $ruby;
			}
		}
	}
}