.index-preview {
	color: #fff;
	text-align: center;
	padding: 97px 0px 17px 0px;
	&__number {
		margin-bottom: 15px;
		&-value {
			font-size: 72px;
			display: block;
			margin-bottom: -16px;
			list-style-type: none;
		}
		&-text {
			font-size: 18px;
		}
	}
	&__note {
		position: relative;
		display: inline-block;
		margin-bottom: -10px;
		&-text {
			font-size: 48px;
			display: block;
			margin: 0;
			font-weight: 600;
		}
		&-small {
			color: $blue;
			font-size: 14px;
			font-weight: 600;
			font-style: italic;
			@include position(absolute, 2px -147px null null);
		}
	}
	&__title {
		position: relative;
		&-value {
			font-size: 48px;
			font-weight:300;
			@include transition(all 0.5s ease-in-out);
			@include filter(blur(50px));
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			opacity: 0;
			&.active {
				@include filter(blur(0px));
				position: relative;
				opacity: 1;
			}
		}
	}
	&__scroll {
		margin-top: 116px;
		&-anchor {
			color: #fff;
			font-style: italic;
			border-bottom: 1px dashed rgba(255,255,255,0.5);
			display: inline-block;
			margin-bottom: 13px;
			@include transition(all 0.2s ease-in-out);
			&:hover,
			&:focus {
				text-decoration: none;
				color: $ruby;
				border-bottom: 1px dashed $hoverRuby;
			}
		}
		&-mouse {
			display: inline-block;
			margin-bottom: 5px;
		}
		&-arrow {
			position: relative;
			@include transition(all 0.2s ease-in-out);
			@include animation(ani-mouse 2s ease-in-out infinite);
		}
	}
}

@-webkit-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 0px
	}
	50% {
		opacity: 1;
		top: 30px;
	}
	80% {
		opacity: 0;
		top: 30px;
	}
	100% {
		opacity: 0;
		top: 0px
	}
}
@-moz-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 0px
	}
	50% {
		opacity: 1;
		top: 30px;
	}
	80% {
		opacity: 0;
		top: 30px;
	}
	100% {
		opacity: 0;
		top: 0px
	}
}
@keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 0px
	}
	50% {
		opacity: 1;
		top: 30px;
	}
	80% {
		opacity: 0;
		top: 30px;
	}
	100% {
		opacity: 0;
		top: 0px
	}
}

.flex-section {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 56px;
    a {
    	border-bottom: none;
    	color: inherit;
    	text-decoration: none;
    	&:hover {
    		border-bottom: none;
    		color: inherit;
    		text-decoration: none;
    	}
    }
	&__block {
		padding: 0;
		-ms-flex: 0 0 auto;
		overflow: hidden;
		-webkit-flex: 0 0 auto;
		flex: 0 0 auto;
		@include transition(all 0.5s ease-in-out);
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		background-size: cover!important;
		position: relative;
		top: 20px;
		opacity: 0;
		&:before {
			content: '';
			@include position(absolute, 0 null null 0);
			width: 100%;
			height: 100%;
			z-index: -1;
			background: -moz-linear-gradient(-45deg, rgba(234,234,234,1) 0%, rgba(255,255,255,0) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 100%);
			background: linear-gradient(135deg, rgba(234,234,234,1) 0%,rgba(255,255,255,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#00ffffff',GradientType=1 );
		}
		&:after {
			content: '';
			@include position(absolute, 0 null null 0);
			width: 100%;
			height: 100%;
			background: rgb(231,231,231);
			background: -moz-linear-gradient(-45deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(231,231,231,1) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(135deg, rgba(231,231,231,1) 0%,rgba(255,255,255,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#ffffff',GradientType=1 );
			z-index: -1;
		}
		&.active {
			opacity: 1;
			top: 0;
		}
		&:hover {
			.flex {
				&-section {
					&__block {
						&-item {
							&-text,
							&-block-link {
								opacity: 1;
								top: 0;
							}
						}
					}
				}
			}
		}
		&-item {
			width: 100%;
			height: 100%;
			background-size: cover!important;
			@include flex-wrap(wrap);
			@include justify-content(center);
			@include display(flex);
			@include align-content(space-between);
			text-align: center;
			padding: 30px;
			position: relative;
			z-index: 1;
			&:before {
				content: '';
				@include position(absolute, 0 null null 0);
				width: 100%;
				height: 100%;
				@include transition(all 0.2s ease-in-out);
				background: rgba(0,0,0,0.0);
				z-index: 0;
			}
			&:hover {
				&:before {
					background: rgba(0,0,0,0.6);
				}
			}
			&--dark {
				.flex-section__block-item-title {
					color: $main-color;
				}
				&:hover {
					.flex-section__block-item-title {
						color: #fff;
					}
				}
			}
			&--large {
				min-height: 500px;
			}
			&-text,
			&-block-link,
			&-title {
				display: block;
				width: 100%;
				position: relative;
				z-index: 2;
				@include transition(all 0.2s ease-in-out);
			}
			&-title {
				font-size: 24px;
				color: #fff;
				&--sm  {
					font-size: 18px;
				}
			}
			&-text {
				font-weight: 300;
				font-size: 18px;
				color: #fff;
				opacity: 0;
				top: -20px;
				line-height: 20px;
			}
			&-block {
				&-link {
					opacity: 0;
					top: 20px;
					&-value {
						color: #fff;
						border-bottom: 1px solid rgba(255,255,255,0.5);
						@include transition(all 0.2s ease-in-out);
						font-weight: 300;
						&:hover,
						&:focus {
							border-bottom: 1px solid $hoverRuby;
							text-decoration: none;
							color: $ruby;
						}
					}
					&-devider {
						color: #fff;
						margin: 0 5px;
					}
				}
			}
			&-note {
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				color: #fff;
				font-size: 48px;
				font-weight: bold;
				z-index: 2;
				position: relative;
			}
			&-img {
				@include position(absolute, null 0 0 0);
				margin: 0 auto;
				z-index: -1;
			}
		}
	}
}
.page-description {
	// margin-bottom: 59px;
	* {
		font-size: 18px;
	}
	p {
		font-size: 18px;
		font-weight: 300;
	}
	&--width-short {
		max-width: 870px;
		margin: 0 auto 59px auto;
	}
}
.feedback {
	&__section {
		padding: 59px 0;
		background: #f5f5f5;
		&--white {
			background: #fff;
			.feedback__block-preview {
				&:before {
					box-shadow: -8px -19px 18px #fff;
				}
			}
		}
	}
	&__block {
		margin-bottom: 60px;
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
		&-img {
			display: block;
			margin: 0 auto 10px auto;
		}
		&-title {
			margin: 0;
			font-weight: bold;
			font-size: 15px;
		}
		&-preview,
		&-position {
			margin: 0 0 10px;
			font-weight: 500;
			font-size: 15px;
			max-height: 100px;
			overflow: hidden;
		}
		&-preview {
			margin-bottom: 20px;
			position: relative;
			&:before {
				content: '';
			    position: absolute;
			    bottom: -27px;
			    width: 105%;
			    height: 20px;
			    left: 0;
			    right: 0;
			    box-shadow: -8px -19px 18px #f5f5f5;
			}
		}
		&-btn {
			background: $blue;
			color: #fff;
			text-decoration: none;
			display: inline-block;
			font-size: 15px;
			font-weight: 500;
			border-radius: 10px;
			padding: 6px 36px;
			@include transition(all 0.2s ease-in-out);
			&:hover,
			&:focus {
				color: #fff;
				background: $ruby;
				text-decoration: none;
			}
		}
	}
	&__all-link {
		position: relative;
		color: $blue;
		font-size: 18px;
		font-weight: 300;
		display: inline-block;
		margin-top: 30px;
		border-bottom: 1px solid $hoverBlue;
		&:hover,
		&:focus {
			border-bottom: 1px solid $hoverRuby;
			color: $ruby;
			text-decoration: none;
		}
		&:before {
			content: '';
			@include position(absolute, 6px -25px null null);
			width: 17px;
			height: 17px;
			background: url(../img/arrows.png) 0 0 no-repeat;
			@include transition(all 0.2s ease-in-out);
		}
		&:hover {
			&:before {
				right: -30px;
				opacity: 0;
			}
		}
	}
	&__content {
		margin-bottom:120px;
		&-blockquote {
			&--left {
				float: left;
				margin: 10px 35px 0 0;
			}
			&--right {
				@include transform(rotate(180deg));
				float: right;
				margin: 0 0 0 25px;
			}
		}
	}
	&__sidebar {
		float: right;
		margin-bottom: 60px;
		&-name {
			font-weight: bold;
			display: block;
			font-size: 15px;
			margin-bottom: 0;
			line-height: normal;
		}
		&-position {
			display: block;
			font-size: 15px;
			font-weight: 500;
			margin-bottom: 20px;
		}
		&-img {
			border: 1px solid #c8c8c8;
		}
	}
}

.form-section {
	padding: 51px 0;
	&--img-bg {
		background: url(../img/form-bg.jpg) 0 0 no-repeat;
		background-size: cover;
	}
	&__block {
		max-width: 635px;
		margin: 0 auto 20px auto;
		&--dark {
			.form-section__block-title {
				color: #fff;
			}
			.form-label {
				color: #fff;
				position: absolute;
			}
			.form-label--checkbox,
			.form-control {
				color: #fff;
			}
		}
		&-title {
			text-align: center;
			font-size: 24px;
			font-weight: 500;
			line-height: normal;
			margin-bottom: 46px;
		}
		&-wrap {
			margin-bottom: 43px;
		}
		&-phone {
			font-size: 48px;
			display: inline-block;
			color: #fff;
			font-weight: 300;
			margin: -10px 0 4px 0;
			&:hover,
			&:focus {
				color: $ruby;
				text-decoration: none;
			}
		}
		&-link {
			font-weight: 300;
			font-size: 24px;
			color: #fff;
			border-bottom: 1px solid rgba(255,255,255,0.5);
			&:hover,
			&:focus {
				color: $ruby;
				text-decoration: none;
				border-bottom: 1px solid $hoverRuby;
			}
			&--dashed {
				border-bottom: 1px dashed rgba(255,255,255,0.5);
				&:hover,
				&:focus {
					color: $ruby;
					text-decoration: none;
					border-bottom: 1px dashed $hoverRuby;
				}
			}
		}
		&-text {
			font-size: 18px;
			display: block;
			color: #fff;
			margin: 21px 0 17px 0 ;
			font-weight: 300;
		}
		&-hidden {
			display: none;
		}
	}
}

.modal {
	position: fixed;
	@include transition(all 0.2s ease-in-out);
	@include position(fixed, 0 0 null null);
	height: 100%;
	overflow: auto;
	z-index: 1000;
	background: #003854;
	padding: 40px 70px;
	opacity: 0;
	@include transform(translateX(100%));
	&.active {
		opacity: 1;
		@include transform(translateX(0%));
	}
	&__close {
		@include position(absolute, 20px 20px null null);
		width: 18px;
		height: 18px;
		cursor: pointer;
		@include transition(all 0.2s ease-in-out);
		&:hover {
			@include transform(rotate(180deg));
		}
		&:before,
		&:after {
			content: '';
			@include position(absolute, 8px null null 0);
			width: 100%;
			height: 3px;
			border-radius: 3px;
			background: #fff;
			@include transform(rotate(45deg));
		}
		&:after {
			@include transform(rotate(-45deg));
		}
	}
	&__title {
		color: #fff;
		font-weight: 500;
		font-size: 24px;
		text-align: center;
		display: block;
		margin: 0 0 40px 0;
	}
	form {
		max-width: 310px;
		margin: 0 auto;
	}
	.form-control--area {
		height: 115px;
	}

}

.cost-section {
	margin: 94px 0 88px 0;
	&__block {
		max-width: 870px;
		margin: 0 auto;
		&-img {
			float: right;
			margin: 54px 0 20px 0;
		}
		&-title {
			font-weight: 300;
			font-style: italic;
			font-size: 24px;
			display: block;
			margin-bottom: 14px;
		}
		&-sub-title {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 18px;
		}
		&-text {
			font-weight: 300;
			font-size: 18px;
			display: block;
			margin-bottom: 15px;
			a {
				border-bottom: 1px solid $hoverBlue;
				&:hover,
				&:focus {
					color: $ruby;
					border-bottom: 1px solid $hoverRuby;
					text-decoration: none;
				}
				&.dashed {
					border-bottom: 1px dashed $hoverBlue;
					&:hover,
					&:focus {
						color: $ruby;
						border-bottom: 1px dashed $hoverRuby;
					}
				}
			}
		}
	}
}

.portfolio {
	&-participant {
		margin-top: 60px;
		padding: 56px 0 38px 0;
		border-top: 1px solid #e5e5e5;
		&__section {
			@include display(flex);
			@include align-items(flex-start);
			@include justify-content(center);
		}
		&__block {
			margin: 0 24px 20px;
			&-position {
				font-weight: 600;
				display: block;
				margin-bottom: 10px;
			}
			&-name {
				display: block;
				font-weight: normal;
			}
		}
	}
	&-info {
		margin: 0 0 30px;
		text-align: center;
		&__link {
			color: $blue;
			margin: 0 6px 10px 6px;
			font-weight: 500;
			border-bottom: 1px solid $hoverBlue;
			&:hover,
			&:focus {
				border-bottom: 1px solid $hoverRuby;
				text-decoration: none;
			}
		}
		&__date {
			display: inline-block;
			vertical-align: top;
			margin: 0 20px 10px 20px;
		}
		&-img {
			max-width: 16px;
			max-height: 16px;
		}
	}
}
.error-page {
	background: url(../img/404.jpg) center no-repeat;
	background-size: cover;
	&__content {
		text-align: center;
		color: #fff;
		padding: 0 15px;
		margin-top: 50px;
		&-title {
			line-height: normal;
			font-size: 48px;
			display: block;
			font-weight: 600;
			margin-bottom: 52px;
		}
		&-text {
			font-size: 18px;
			font-weight: 300;
			display: block;
			line-height: 23px;
			margin-bottom: 20px;
			a {
				border-bottom: 1px solid $hoverBlue;
				&:hover,
				&:focus {
					border-bottom: 1px solid $hoverRuby;
					text-decoration: none;
				}
			}
		}
	}
}

.vacancy-section {
	text-align: center;
	margin-top: 50px;
	&__block {
		margin-bottom: 26px;
		&-link {
			border-bottom: 1px solid $hoverBlue;
			color: $blue;
			font-weight: 500;
			font-size: 24px;
			&:hover,
			&:focus {
				border-bottom: 1px solid $hoverRuby;
				text-decoration: none;
				color: $ruby;
			}
		}
		&-text {
			font-weight: 300;
			display: block;
			font-size: 15px;
			margin-top: 110px;
			a {
				border-bottom: 1px solid $hoverBlue;
				color: $blue;
				&:hover,
				&:focus {
					border-bottom: 1px solid $hoverRuby;
					text-decoration: none;
					color: $ruby;
				}
			}
		}
	}
	&__text {
		font-weight: 300;
		display: block;
		font-size: 15px;
		a {
			border-bottom: 1px solid $hoverBlue;
			color: $blue;
			&:hover,
			&:focus {
				border-bottom: 1px solid $hoverRuby;
				text-decoration: none;
				color: $ruby;
			}
		}
	}
}

.news {
	&__list {
		&-item {
			padding-bottom: 33px;
			margin-bottom: 43px;
			border-bottom: 1px solid #ddd;
			&-date {
				display: block;
				font-weight: 300;
				margin-bottom: 1px;
			}
			&-link {
				font-size: 24px;
				border-bottom: 1px solid $hoverBlue;
				&:hover,
				&:focus {
					text-decoration: none;
					color: $ruby;
					border-bottom: 1px solid $hoverRuby;
				}
			}
			&-preview {
				display: block;
				font-size: 15px;
				margin: 24px 0 29px 0;
			}
			&-img {
				display: block;
				margin-bottom: 20px;
			}
			&-tags {
				&-link {
					color: $blue;
					font-weight: 500;
					font-style: italic;
					font-size: 12px;
					border-bottom: 1px solid $hoverBlue;
					&:not(:last-child) {
						margin-right: 10px;
					}
					&:hover,
					&:focus {
						color: $ruby;
						text-decoration: none;
						border-bottom: 1px solid $hoverRuby;
					}
				}
			}
			&-description {
				font-size: 15px;
				p, li, span, div {
					font-size: 15px;
				}
				a {
					color: $blue;
					font-weight: 500;
					border-bottom: 1px solid $hoverBlue;
					&:hover,
					&:focus {
						color: $ruby;
						text-decoration: none;
						border-bottom: 1px solid $hoverRuby;
					}
				}
			}
		}
		&-btn {
			position: relative;
			margin-bottom: 110px;
			&:before {
				content: '';
				@include position(absolute, null -180px -110px null);
				background: url(../img/girl.png) 0 0 no-repeat;
				width: 175px;
				height: 96px;
				pointer-events: none;
			}
		}
	}
	&__sidebar {
		&-block {
			margin-bottom: 50px;
			&-title {
				font-weight: 600;
				display: block;
				text-transform: uppercase;
				margin-bottom: 6px;
				margin-left: 21px;
			}
		}
		&-list {
			list-style-type: none;
			padding: 0;
			margin: 0;
			&-item {
				margin-bottom: 3px;
				&-link {
					color: $blue;
					font-size: 15px;
					font-weight: 500;
					display: inline-block;
					padding: 3px 21px;
					&:hover,
					&:focus {
						background: $blue;
						color: #fff;
						text-decoration: none;
						span {
							border-bottom: 1px solid transparent;
						}
					}
					&--red {
						&:hover,
						&:focus {
							background: $ruby;
							color: #fff;
							text-decoration: none;
							span {
								border-bottom: 1px solid transparent;
							}
						}
					}
					span {
						border-bottom: 1px solid $hoverBlue;
					}
					
				}
			}
		}
		&-animate {
			position: relative;
			margin-top: 110px;
			&.active {
				.news__sidebar-animate-flame-img {
					opacity: 1;
				}
				.news__sidebar-animate-roket {
					@include transform(translateY(-200%));
					opacity: 0;
				}

			}
			&-version {
				&-img {
					@include position(absolute, 0 null null 0);
					z-index: -1;
					padding-right: 20px;
					padding-top: 8px;
					opacity: 0;
					@include transition(all 0.2s ease-in-out);
					&.active {
						opacity: 1;
					}
				}
			}
			&-roket {
				position: absolute;
			    top: -100px;
			    z-index: -1;
			    left: 0;
			    right: 17px;
			    margin: 0 auto;
			    max-width: 126px;
				@include transition(all 2s ease-in-out);
				pointer-events: none;
			}
			&-flame {
				&-img {
					margin: -35px 0 0 35px;
					@include transition(all 0.3s ease-in-out);
					opacity: 0;
				}
			}
		}
	}
}

.contact {
	&__block {
		margin-bottom: 30px;
		padding: 0;
	}
	&__text {
		font-size: 18px;
		color: $main-color;
		&:hover {
			color: $main-color;
			text-decoration: none;
		}
		&--strong {
			font-weight: bold;
		}
	}
	&__link {
		font-size: 18px;
	}
}

.category-section {
	margin: 80px 0 0px 0;
	@include display(flex);
	@include align-items(flex-start);
	@include justify-content(flex-start);
	@include flex-wrap(wrap);
	&__block {
		margin-bottom: 46px;
		&-img {
			display: block;
			margin: 0 auto 10px auto;
		}
		&-title {
			font-weight: 500;
			font-size: 24px;
			display: block;
			margin: -7px 0 20px 0;
		}
		&-list {
			color: $blue;
			margin: 0;
			padding: 0 0 0 17px;
			&-item {
				color: $blue;
				margin-bottom: 16px;
				&-link {
					color: $main-color;
					border-bottom: 1px solid #919191;
					&:hover,
					&:focus {
						text-decoration: none;
						border-bottom: 1px solid $hoverRuby;
					}
				}
			}
		}
	}
}

.service-description {
	background: #f5f5f5;
	padding: 48px 0 28px 0;
	margin: 50px 0 59px 0;
	&__info {
		@include display(flex);
		@include align-items(flex-start);
		&-block {
			padding: 0 40px;
			margin-bottom: 30px;
			&:first-child {
				text-align: right;
			}
			&-price {
				margin-bottom: 35px;
				&-value {
					color: $blue;
					font-size: 48px;
					font-weight: 600;
					display: inline-block;
					.rub {
						display: inline-block;
						margin-left: 10px;
						font-size: 70%;
					}
				}
			}
			&-text {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 15px;
				display: inline-block;
				margin:  0 25px 0 0;
			}
			&-list {
				margin: 39px 0 0 0;
				padding: 0 0 0 20px;
				&-item {
					color: #656565;
					font-size: 15px;
					font-weight: 300;
					margin-bottom: 3px;
				}
			}
		}
	}
}

.competence {
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		&-item {
			float: none;
			margin-right: -4px;
			margin-bottom: 30px;
			display: inline-block;
			&-link {
				color: inherit;
				display: block;
				min-height: 66px;
				width: 100%;
				&:hover,
				&:focus {
					color: inherit;
					text-decoration: none;
					background: $ruby;
				}
				&:hover {
					.competence__list-item-img {
						@include filter(brightness(100));
					}
					.competence__list-item-text {
						opacity: 1;
					}
					.competence__list-item-title {
						opacity: 0;
					}
					.competence__list-item-img {
						position: relative;
						left: 350%;
						top: 5px;
					}
				}
			}
			&-img {
				@include transition(all 0.2s ease-in-out);
				left: 0;
				top: 0;
				&-wrap {
					width: 69px;
					text-align: center;
					display: inline-block;
					vertical-align: top;
					float: left;
				}
			}
			&-title {
				color: #0085b2;
				font-size: 18px;
				font-weight: 600;
				display: block;
				vertical-align: top;
				margin-left: 89px;
				opacity: 1;
				@include transition(all 0.2s ease-in-out);
			}
			&-text {
				color: #fff;
				text-transform: uppercase;
				font-size: 18px;
				font-weight: 600;
				margin: 0;
				position: absolute;
				top: 20px;
				left: 80px;
				opacity: 0;
				@include transition(all 0.2s ease-in-out);
			}
		}
	}
}
.about {
	&__info {
		text-align: center;
		margin-bottom: 70px;
		&-block {
			display: inline-block;
			vertical-align: top;
			position: relative;
			text-align: center;
			min-width: 230px;
			margin: 0 20px 20px 20px;
			&-wrap {
				display: inline-block;
				position: relative;
				margin-bottom: 20px;
				&:before {
					content: '';
					@include position(absolute, 16px null null -30px);
					background: url(../img/lavr-left.png) 0 0 no-repeat;
					width: 22px;
					height: 63px;
				}
				&:after {
					content: '';
					@include position(absolute, 16px -30px null null);
					background: url(../img/lavr-right.png) 0 0 no-repeat;
					width: 22px;
					height: 63px;
				}
			}
			&-count {
				color: #fff;
				display: block;
				font-size: 60px;
				margin-bottom: 0;
				line-height: 60px;
				min-width: 70px;
			}
			&-text {
				color: #fff;
				display: block;
				font-size: 18px;

			}
			&-note {
				color: #fff;
				font-style: italic;
				display: block;
				font-weight: 300;
			}
		}
	}
	&__description {
		color: #fff;
		font-size: 18px;
		margin: 0 auto 30px auto;
		max-width: 880px;		
	}
}

.fixed-content {
	padding: 10px 0 30px 0;
	position: fixed;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
    background: url(../img/back.png) 0 0 no-repeat;
    background-size: cover;
    overflow: auto;
    &__close {
    	display: block;
    	padding: 0;
    	width: 24px;
    	height: 24px;
    	border: none;
    	background: url(../img/close.png) 0 0 no-repeat;
    	margin: 8px 0 0;
    }
    &__menu {
    	list-style-type: none;
    	padding: 0;
    	margin: 0;
    	&-item {
    		display: block;
    		margin-bottom: 15px;
    		&-link {
    			color: #fff;
    			font-size: 16px;
    			text-transform: uppercase;
    			&:hover,
    			&:focus,
    			&.current {
    				color: $ruby;
    				text-decoration: none;
    			}
    		}
    	}
    }
    &__order {
    	border: 1px solid #fff;
	    font-size: 14px;
	    padding: 7px 15px;
    }
    &__search {
    	margin-bottom: 40px;
    	form {
    		position: relative;
    		display: block;
    		margin: -33px 0 0 35px;
    		@include transition(opacity 0.2s ease-in-out);
    		opacity: 0;
    		pointer-events: none;
    		&.active {
    			opacity: 1;
    			pointer-events: auto;
    		}
    	}
    	&-trigger {
    		display: inline-block;
    		position: relative;
    		z-index: 10;
    		width: 24px;
    		height: 24px;
    		@include transition(all 0.2s ease-in-out);
    		background: url(../img/fix-magnifier.png) 0 0 no-repeat;
    		&.active {
    			@include transform(rotate(180deg));
    			background: url(../img/close.png) 0 0 no-repeat;
    		}
    	}
    	&-input {
    		padding: 5px 30px 5px 5px;
    		color: #fff;
    		width: 100%;
    		border: none;
    		border-bottom: 1px solid #fff;
    		background: none;
    	}
    	&-submit {
    		background: url(../img/fix-magnifier.png) 0 0 no-repeat;
    		width: 18px;
    		height: 18px;
    		border: none;
    		padding: 0;
    		background-size: cover;
    		position: absolute;
    		top: 4px;
    		right: 7px;
    		z-index: 10;
    	}
    }
}