@media (max-width: 767px) {
	.main-wrapper {
		pointer-events: auto;
		&__content {
			@include transition(all 0.2s ease-in-out);
			@include transform(rotateY(0deg) scale(1));
		}
		&.active {
			z-index: 101;
			min-height: 100%;
			overflow: auto;
			perspective: 800px;
		    -webkit-perspective: 800px;
		    pointer-events: none;
			.main-wrapper__content {
				background: #fff;
				@include transition(all 0.2s ease-in-out);
				@include position(absolute, 0 0 null 0);
				@include transform(rotateY(61deg) scale(0.96));
			    transform-origin: left center;
			    height: 80vh;
			    overflow: hidden;
			    top: 12%
			}	
		}
	}
	.fixed-content {
		pointer-events: none;
		@include transition(all 0.2s ease-in-out);
		&.active {
			pointer-events: auto;
			opacity: 1;
			
		}
	}
	.header {
		padding: 20px 0;
		&__logo {
			width: auto;
			&:hover {
				.header__logo-img {
					opacity: 1;
				}
				.header__logo-text-img,
				.header__logo-face-img {
					display: none;
				}
			}
		}
		&__address {
			margin: 5px 20px 0 0;
		}
		&__sub-menu {
			margin-top: 25px;
		}
		&__video {
			background: url(../img/index-bg.jpg) 0 0 no-repeat;
			height: 890px;
			background-size: cover;
		}
		&__dropdown {
			&-menu {
				&-list {
					margin: 0 0 0 -15px;
					&-item {
						width: 100%;
						margin: 0 5px 15px 5px;
					}
				}
				&-img {
					margin-right: 0;
				}
			}
		}
	}
	.feedback {
		&__block {
			&-description {
				padding: 0 15px;
			}
			&-img {
				margin: 0 0 10px 0;
			}
		}
		&__all-link {
			margin-top: 0;
		}
		&__content {
			margin-bottom: 60px;
		}
		&__sidebar {
			float: none;
			max-width: 300px;
			text-align: center;
			margin: 0 auto 50px auto;
		}
	}
	.competence {
		&__list {
			&-item {
				padding: 0;
				display: block;
				max-width: 470px;
			    margin: 0 auto 30px auto;
			}
		}
	}
	.about {
		&__info {
			&-block {
				display: block;
			}
		}
		&__description {
			min-height: 100px;
		}
	}
	.footer {
		text-align: center;
		&__menu {
			text-align: center;
			margin: 20px 0;
			&-list {
				margin: 0;
				&-item {
					margin: 0 10px;
					&:not(:first-child) {
						margin: 0 10px;
					}
				}
			}
		}
		&__social {
			margin-bottom: 30px;
		}
		&__link {
			&--presentation {
				margin: 4px 0 40px 46px;
			}
		}
	}
	.modal {
		width: 100%;
		padding: 20px 40px;
	}
	.fixed-content {
		&__order {
			margin: 10px 0 50px 0;
		}
		&__controls {
			margin-left: 30px;
		}
		&__menu {
			margin: 0 0 50px;
		}
		&__phone {
			color: #fff;
			font-size: 18px;
			display: inline-block;
			margin-bottom: 10px;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
		&__email {
			color: #fff;
			font-size: 16px;
			display: inline-block;
			border-bottom: 1px solid rgba(255,255,255,0.5);
			&:hover,
			&:focus {
				border-bottom: 1px solid $ruby;
				text-decoration: none;
			}
		}
	}
	.error-page .main-wrapper.active .main-wrapper__content {
		background: url(../img/404.jpg) center no-repeat;
		background-size: cover;
		top: 100px;
	}
	.form-section {
		&__block {
			&-wrap {
				margin-bottom: 0;
			}
		}
	}
	.form-label--checkbox {
		margin-bottom:25px;
	}
	.title {
		font-size: 36px;
	}
	.index-preview {
		&__title {
			&-value {
				font-size: 30px;
			}
		}
	}
	.flex-section__block-item--large {
		min-height: 350px;
	}
	.portfolio-participant {
		&__section {
			@include flex-wrap(wrap);
		}
		&__block {
			text-align: center;
			margin: 0 15px 20px;
		    width: 40%;
		}
	}
	.news {
		&__list {
			&-btn {
				&:before {
					display: none;
				}
			}
		}
	}
	.category-section {
		&__block {
			&-title {
				font-size: 20px;
			}
		}
	}
	.btn-lg {
		padding: 12px 40px;
	}
	.service-description {
		&__info {
			@include flex-wrap(wrap);
			&-block {
				&:first-child {
					text-align: left;
				}
				&-price {
					margin-bottom: 15px;
				}
			}		
		}
	}
	.flex-section {
		&__block {
			&-item {
				&-text {
					margin: 15px 0;
				}
			}
		}
	}
}
@media (max-width: 499px) {
	.header {
		&__dropdown {
			&-menu {
				&-list {
					&-item {
						width: 100%;
						margin: 0 5px 15px 5px;
					}
				}
			}
		}
		&__video {
		}
		&__address {
			margin: -5px 0 0;
			&-phone {
				font-size: 14px;
			}
		}
		&__menu {
			&-btn {
				float: right;
				margin: 5px 0;
			}
		}
		&--dark {

		}
		&__sub-menu {
			&-btn {
				display: block;
				width: 24px;
				height: 24px;
				margin: 10px auto;
				background: none;
				border: none;
				padding: 0;
				background: url(../img/bars-bk.png) 0 0 no-repeat;
				@include transition(all 0.2s ease-in-out);
				&.active {
					@include transform(rotate(180deg));
					background: url(../img/close-bk.png) 0 0 no-repeat;
				}
			}
			&-list {
				display: none;
				margin: 0 -15px;
				&-item {
					position: relative;
					margin: 0;
					display: block;
				}
			}
		}
	}
	.about {
		&__description {
			min-height: 132px;
			font-size: 16px;
		}
	}
	.footer {
		&__menu {
			&-list {
				&-item {
				    font-size: 12px;
				    margin: 0 3px;
				    &:not(:last-child) {
				    	margin: 0 3px;
				    }
				}
			}
		}
	}
	.modal {
		&__title {
			font-size: 17px;
			margin: 20px 0;
		}
	}
	.fixed-content {
		&__order {
			margin: 10px 0 50px -20px;
		}
		&__controls {
			margin-left: 0;
		}
		&__phone {
			font-size: 14px;
		}
		&__email {
			font-size: 12px;
		}
	}
	.title {
		font-size: 28px;
		margin: 0 0 15px 0;
	}
	.form-section {
		&__block {
			&-title {
				font-size: 16px;
			}
			&-phone {
				font-size: 27px;
			}
		}
	}
	.portfolio-participant {
		&__block {
			text-align: center;
			margin: 0 0 20px;
		    width: 100%;
		}
	}
	.category-section {
		&__block {
			&-title {
				font-size: 17px;
			}
		}
	}
	.service-description {
		&__info {
			&-block {
				padding: 0;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header {
		&__order {
			margin-top: 5px;
		}
		&__menu {
			&-list {
				&-item {
					margin-right: 10px;
				}
			}
		}
		&__sub-menu {
			margin-top: 30px;
		}
		&__address {
			margin: -4px 0 0 60px;
		}
		&__order {
			margin-left: 63px;
		}
		&__video {
			height: 620px;
		}
	}
	.about {
		&__info-block {
			min-width: 180px;
			margin: 0 20px 20px 20px;
		}
	}
	.feedback {
		&__block {
			margin-bottom: 20px;
			&-img {
				margin:  0 0 10px -15px;
			}
			&-description {
				padding-right: 15px;
			}
		}
	}
	.form-section__block-title {
		font-size: 20px;
		margin-bottom: 30px;
	}
	.flex-section {
		&__block {
			&-item {
				&--large {
					min-height: 320px;
				}
				&-text {
					margin: 15px 0;
				}
			}
		}
	}
	.category-section {
		&__block {
			&-title {
				font-size: 20px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header {
		&__order {
			margin-top: 5px;
		}
		&__menu {
			&-list {
				&-item {
					margin-right: 15px;
				}
			}
		}
		&__sub-menu {
			margin-top: 30px;
		}
	}
}
@media (min-width: 1200px) {
	
}
@media (min-width: 1460px) {
	.container {
		width: 1430px
	}
	.flex-section {
		&__block {
			min-height: 250px;
		}
	}
	.header {
		&__video {
			&-player,
			iframe {
				@include transform(scale(2));		
			}
		}
	}
	.modal {
		padding: 128px;
		&__close {
			top: 59px;
			right: 60px;
			width: 21px;
			height: 21px;
		}
	}
}