html {
	height: 100%;
}
body {
    font-family: $main_font;
    font-weight: normal;
    height: 100%;
    color: $main_color;
}

label {
	font-weight: normal;
}
img {
	max-width: 100%;
}
a img {
	border: none;
}
button, input, textarea, select {
	outline: none;
}
.main-wrapper {
	overflow: hidden;
	min-height: calc(100% - 154px);
	position: relative;
}
.js-fancybox {
	outline: none;
	&:focus,
	&:hover,
	&:active {
		outline: none;
	}
}
.rub {
	font-family: 'Rubl';
	font-weight: normal;
	font-style: normal;
}