.text-center {text-align: center;}
.text-right {text-align: right;}

.no-margin {margin: 0!important;}
.no-padding {padding: 0;}

.m-t-5 {margin-top: 5px;}
.m-t-10 {margin-top: 10px;}
.m-t-15 {margin-top: 15px;}
.m-t-20 {margin-top: 20px;}
.m-t-25 {margin-top: 25px;}
.m-t-30 {margin-top: 30px;}

.m-b-5 {margin-bottom: 5px;}
.m-b-10 {margin-bottom: 10px;}
.m-b-15 {margin-bottom: 15px;}
.m-b-20 {margin-bottom: 20px;}
.m-b-25 {margin-bottom: 25px;}
.m-b-30 {margin-bottom: 30px;}

.p-t-10 {padding-top: 10px;}
.p-t-15 {padding-top: 15px;}
.p-t-20 {padding-top: 20px;}
.p-t-25 {padding-top: 25px;}
.p-t-30 {padding-top: 30px;}

.p-b-10 {padding-bottom: 10px;}
.p-b-15 {padding-bottom: 15px;}
.p-b-20 {padding-bottom: 20px;}
.p-b-25 {padding-bottom: 25px;}
.p-b-30 {padding-bottom: 30px;}


.bg-gray {
	background: #f5f5f5;
}
.color-white {
	color: #fff;
}

input:invalid {
	box-shadow: none;
}

a {
	color: $blue;
	@include transition(all 0.2s ease-in-out);
	&:hover {
		color: $ruby;
	}
}
.title {
	font-size: 30px;
	margin: 0 0 40px 0;
	font-weight: 600;
}

input[type="checkbox"]:not([class]) {
	display: none;
	& + label {
		position: relative;
		cursor: pointer;
		padding-left: 47px;
		line-height: normal;
		&:before {
			content: '';
			@include position(absolute, 0 null null 0);
			width: 33px;
			height: 33px;
			border-radius: 7px;
			background: rgba(255,255,255,0.1);
			border: 1px solid #cfcfcf;
		}
	}
	&:checked + label {
		&:after {
			content: '';
			@include position(absolute, 10px null null 8px);
			width: 16px;
			height: 12px;
			background: url(../img/check.png) 0 0 no-repeat;;
		}
	}
}

.btn {
	@include transition(all 0.2s ease-in-out);
	font-size: 18px;
	border-radius: 7px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-align: center;
	background: transparent;
	padding: 7px 30px;
	&:hover,
	&:focus {
		background: $ruby;
		color: #fff;
		text-decoration: none;
		border-color: $ruby;
	}
	&[disabled] {
		opacity: 0.5;
		cursor: no-drop;
	}
	&-info {
		background: $blue;
		color: #fff;
	}
	&-default {
		font-weight: bold;
		border: 2px solid #fff;
	}
	&-warning {
		background: #ffcc00;
		color: $main-color;
		&:focus,
		&:hover {
			color: #fff;
			background: $ruby;
		}
	}
	&-block {
		display: block;
		width: 100%;
	}
	&-lg {
		padding: 16px 78px;
	}
}

.form {
	&-group {
		margin-bottom: 10px;
		position: relative;
	}
	&-control {
		resize: none;
		width: 100%;
		@include transition(all 0.2s ease-in-out);
		border: 1px solid #cfcfcf;
		background: rgba(0, 169, 226, 0.1);
		font-size: 18px;
		font-weight: 300;
		padding: 14px 20px;
		border-radius: 5px;
		&:focus {
			border: 1px solid #00a9e2;
			background: none;
			& + .form-label {
				top: 2px;
				font-size: 11px;
			}
		}
		&:hover {
			background: none;
		}
		&--area {
			height: 176px;
		}
	}
	&-label {
		@include transition(all 0.2s ease-in-out);
		font-size: 18px;
		font-weight: 300;
		@include position(absolute, 14px null null 21px);
		pointer-events: none;
		&.active {
			top: 2px;
			font-size: 11px;
		}
		&--checkbox {
			font-size: 14px;
			display: inline-block;
		}
	}
	&-link {
		border-bottom: 1px solid $hoverBlue;
		&:hover,
		&:focus {
			border-bottom: 1px solid $hoverRuby;
			text-decoration: none;
		}
	}
	&-btn {
		padding: 12px 62px;
	}
}

.title {
	font-size: 48px;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 36px 0;
}
.subtitle {
	display: block;
	// font-size: 24px;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 47px;
}
.container-mini {
	max-width: 915px;
	margin: 0 auto;
}