// ---------------------  Variables

$main_font: 'Exo 2', sans-serif;
$main_color: #2a2a2a;


// ------- COLORS
$blue: #00a9e2;
$yellow: #ffcc00;
$ruby: #ff1124;

$hoverBlue: rgba(0, 169, 226, 0.5);
$hoverYellow: rgba(255, 204, 0, 0.5);
$hoverRuby: rgba(255, 17, 36, 0.5);
$hoverGray: #b8b8b8;
$hoverWhite: rgba(255,255,255,0.3);