.header {
	padding: 39px 0;
	&--index {
		background: url(../img/index-bg.jpg) center center no-repeat;
		position: relative;
		background-size: cover;
		z-index: 0;
		&:before {
			content: '';
			@include position(absolute, 0 0 0 0);
			width: 100%;
			height: 100%;
			background: rgba(0, 35, 59, 0.75) ;
		}
	}
	&--dark {
		.header__sub-menu-list-item-link,
		.header__address-city,
		.header__order,
		.header__search-input {
			color: #fff;
		}
		.header__menu-list-item-link {
			color: #fff;
			&.current,
			&:hover,
			&:focus {
				text-decoration: none;
				color: #fff;
				border-color: $blue;
			}
		}
		.header__order {
			border-bottom: 1px dashed rgba(255,255,255,0.5);
		}
		.header__search-trigger {
			background: url(../img/magnifier.png) 0 0 no-repeat;
			&.active {
				&:before,
				&:after {
					background: #fff;
				}
			}
		}
		.header__search-input {
			border-bottom: 1px solid #fff;
		}
	}
	&__address {
		margin: -4px 46px 0 0;
		display: inline-block;
		vertical-align: top;
		&-city {
			color: $main-color;
			font-size: 12px;
			display: block;
			margin: 0 0 2px 0;
			font-weight: 300;
		}
		&-phone {
			color: $blue;
			font-size: 18px;
			display: inline-block;
			&:hover,
			&:focus {
				color: $ruby;
				text-decoration: none;
			}
		}
	}
	&__order {
		color: $main-color;
		display: inline-block;
		margin-top: 16px;
		border-bottom: 1px dashed $hoverGray;
		&:hover,
		&:focus {
			border-bottom: 1px dashed $hoverRuby;
			text-decoration: none;
			color: $ruby;
		}
	}
	&__logo {
		&-text-img {
			@include position(absolute, -18px null null 15px);
			pointer-events:none;
			opacity: 0;
		}
		&-face-img {
			@include position(absolute, 0 38px null null);
			pointer-events:none;
			@include transform(scale(0));
		}
		&:hover {
			.header__logo-img {
				opacity: 0;
				@include transition(all 0.1s ease-in-out);
			}
			.header__logo-text-img {
				top: 12px;
				opacity: 1;
				@include transition(all 0.2s 0.2s ease-in-out);
			}
			.header__logo-face-img {
				@include transform(scale(1));
				// right: 71px;
				@include transition(all 0.2s 0.4s ease-in-out);
			}
		}
	}
	&__menu {
		display: inline-block;
		vertical-align: top;
		@include transition(all 0.2s ease-in-out);
		&.active {
			opacity: 0;
			pointer-events: none;
		}
		&-list {
			list-style-type: none;
			padding: 0;
			margin: 0;
			&-item {
				display: inline-block;
				vertical-align: top;
				margin-right: 38px;
				&-link {
					color: $main-color;
					text-transform: uppercase;
					display: block;
					padding-bottom: 5px;
					font-weight: 600;
					border-bottom: 3px solid transparent;
					&.current,
					&:hover,
					&:focus {
						text-decoration: none;
						color: $main-color;
						border-color: $blue;
					}
				}
			}
		}
	}
	&__search {
		display: inline-block;
		vertical-align: top;
		&-form {
			display: inline-block;
			width: calc(100% - 10px);
			pointer-events: none;
			@include position(absolute, -25px null null -20px);
			opacity: 0;
			@include transition(all 0.2s ease-in-out);
			&.active {
				opacity: 1;
				pointer-events: auto;
				top: -5px;
			}
		}
		&-trigger {
			background: url(../img/magnifier-d.png) 0 0 no-repeat;
			width: 14px;
			height: 14px;
			border: none;
			position: relative;
			@include transition(all 0.2s ease-in-out);
			&.active {
				background: none;
				&:before {
					content: '';
					@include position(absolute, 7px null null 0);
					width: 100%;
					height: 2px;
					background: $main-color;
					@include transform(rotate(-45deg));
				}
				&:after {
					content: '';
					@include position(absolute, 7px null null 0);
					width: 100%;
					height: 2px;
					background: $main-color;
					@include transform(rotate(45deg));
				}
			}
		}
		&-submit {
			@extend .header__search-trigger;
			margin-right: 10px;
		}
		&-input {
			border: none;
			border-bottom: 1px solid $hoverGray;
			background: none;
			color: $main-color;
			height: 30px;
			width: calc(100% - 60px);
		}
	}
	&__menu-search-wrap {
		text-align: right;
		margin: 16px 0 0 0;
		position: relative;
	}

	&__sub-menu {
		position: relative;
		text-align: center;
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		margin-top: 36px;
		&-list {
			list-style-type: none;
			padding: 0;
			margin: 0 0 0 4px;
			&-item {
				margin-left: -4px;
				display: inline-block;
				vertical-align: top;
				&:hover {
					background: $ruby;
					.header__dropdown-menu {
						opacity: 1;
						pointer-events: auto;
					}
					.header__sub-menu-list-item-link {
						color: #fff;
						span {
							border-bottom: 1px solid transparent;
						}
					}
				}
				&-link {
					font-weight: 500;
					padding: 17px 25px 16px 25px;
					display: block;
					color: $main-color;
					&.current,
					&:hover,
					&:focus {
						color: #fff;
						background: $ruby;			
						text-decoration: none;
						span {
							border-bottom: 1px solid transparent;
						}
					}
					&.current {
						background: $blue;
					}
					span {
						border-bottom: 1px solid $hoverGray;
					}
				}
			}
		}
	}

	&__dropdown {
		&-menu {
			@include position(absolute, 52px null null 0);
			background: $blue;
			width: 100%;
			padding: 40px 0 29px 0;
			opacity: 0;
			pointer-events:none;
			z-index: 100;
			@include transition(all 0.2s ease-in-out);
			&-img {
				margin-right: 20%;
				float: right;
			}
			&-list {
				list-style-type: none;
				text-align: left;
				padding: 0;
				margin: 0;
				display: inline-block;
				vertical-align: top;
				&-item {
					display: inline-block;
					vertical-align: top;
					width: 31%;
					margin-right: 10px;
					margin-bottom: 15px;
					&-link {
						color: #fff;
						font-size: 15px;
						font-weight: 300;
						border-bottom: 1px solid rgba(255,255,255,0.5);
						&:hover,
						&:focus {
							border-bottom: 1px solid $hoverRuby;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	&__video {
		width: 100%;
		height: 570px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		overflow: hidden;
		&:before {
			content: '';
			@include position(absolute, 0 null null 0);
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
			z-index: 1;
		}
		&-player,
		iframe {
			width: 100%;
			height: 100%;
			@include transform(scale(1.5));
		}
	}
}