extends includes/_layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Отзыв внутренняя
block content
	.container
		h1.title.text-center Отзыв от «Glass-Engineering»
		.row
			.col-sm-9
				.feedback__content
					img.feedback__content-blockquote--left(src="img/blockquote.png", alt="")
					p С компанией «Студия Латыпова» сотрудничаю больше 7 лет. Именно здесь был создан мой первый сайт, который успешно работает до сих пор. Так что можно сказать, что мы растем и развиваемся вместе.
					p Теперь моих сайтов уже три, в перспективе еще один довольно большой проект. Все работы от начала и до конца делает «Студия Латыпова» и обращаться к кому-то другому у меня не возникает ни желания, ни надобности. Точно знаю, что не подведут, сделают хорошо.
					p То же самое можно сказать и в отношении работ, связанных с доработками и продвижением сайтов. Сотрудники компании «Студия Латыпова» не только успешно рекламируют и продвигают мои проекты, но и подсказывают новые решения, находясь в курсе последних веяний рынка.
					img.feedback__content-blockquote--right(src="img/blockquote.png", alt="")
			.col-sm-3
				.feedback__sidebar
					.feedback__sidebar-name «Glass Engineering»
					.feedback__sidebar-position Елена Васина (Генеральный директор)
					a.js-fancybox(href="img/content/feedback.jpg")
						img.feedback__sidebar-img(src="img/content/feedback.jpg", alt="")
		.text-center
			a.btn.btn-lg.btn-info(href="#!") К списку отзывов
		br
		br
		br
	// форма
	.form-section.form-section--img-bg
		.container
			.form-section__block.form-section__block--dark
				.form-section__block-title Есть задачи или вопросы ?
				form(action="#!")
					.form-section__block-wrap
						.row
							.col-sm-6
								.form-group
									input.form-control(type="text" required)
									label.form-label Ваше имя
								.form-group
									input.form-control.js-mask(type="tel" required)
									label.form-label Ваш телефон
								.form-group
									input.form-control.js-mask(type="email" required)
									label.form-label Ваш e-mail
							.col-sm-6
								.form-group
									textarea.form-control.form-control--area(name="message" required)
									label.form-label Сообщение \ Описание задачи
					.row
						.col-sm-6
							input.js-politicks-checkbox#politicks-1(type="checkbox" checked required)
							label.form-label--checkbox(for="politicks-1")
								| Соглашаюсь с 
								a.form-link(href="#!") политикой обработки персональных данных
						.col-sm-6
							button.btn.btn-default.btn-lg(type="submit") Отправить
	// / форма