extends includes/_layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Главная страница
	- logoWhite = true;
	- indexHeader = true
block content
	// работы
	.flex-section#portfolio
		.flex-section__block.flex-section__block--large( style="background: url(../img/content/portfolio.jpg) 0 0 no-repeat")
			a.flex-section__block-item(href="#!")
				span.flex-section__block-item-title Сайт компании «BrusCustom»
				span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
				.flex-section__block-item-block-link
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.flex-section__block.flex-section__block--large( style="background: url(../img/content/portfolio.jpg) 0 0 no-repeat")
			a.flex-section__block-item(href="#!")
				span.flex-section__block-item-title Сайт компании «BrusCustom»
				span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
				.flex-section__block-item-block-link
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		- for (i=1;i<=6;i++) {
			.flex-section__block.flex-section__block--black(style="background: url(../img/content/work-2.jpg) center no-repeat")
				a.flex-section__block-item(href="#!")
					span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
					span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
					.flex-section__block-item-block-link
						span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
						span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		- }
		.flex-section__block.flex-section__block--black(style="background: url(../img/content/work-2.jpg) center no-repeat")
			a.flex-section__block-item(href="#!")
				span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
				span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
				.flex-section__block-item-block-link
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.flex-section__block.flex-section__block--black(style="background: url(../img/content/work-2.jpg) center no-repeat")
			a.flex-section__block-item(href="#!")
				span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
				span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
				.flex-section__block-item-block-link
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.flex-section__block.flex-section__block--large( style="background: url(../img/content/portfolio.jpg) 0 0 no-repeat")
			a.flex-section__block-item(href="#!")
				span.flex-section__block-item-title Сайт компании «BrusCustom»
				span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
				.flex-section__block-item-block-link
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.flex-section__block.flex-section__block--black(style="background: url(../img/content/work-2.jpg) center no-repeat")
			a.flex-section__block-item(href="#!")
				span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
				span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
				.flex-section__block-item-block-link
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
	// работы
	// текст о нас
	.container
		.subtitle.text-center О нас
		.page-description.page-description--width-short
			p Студия Латыпова — компания уже 7 лет оказывающая широкий спектр услуг для клиентов различных направлений и отраслей. Каждый создаваемый нами продукт (от логотипа и  визитки до поддержки и продвижения сайта) является шагом к развитию бизнеса заказчика и за время нашей работы было создано более 180 проектов.
			p Мы ориентированы на долгосрочное и надежное сотрудничество. Многие клиенты остаются с нами и доверяют нам новые задачи.
	// / текст о нас
	// отзывы
	.feedback__section
		.container
			.subtitle.text-center Отзывы наших клиентов
			.row
				- for (i=1;i<=3;i++) {
					include includes/components/_feedback-item
				- }
			.text-center
				a.feedback__all-link(href="#!") Посмотреть все отзывы
	// / отзывы
	// форма
	.form-section.form-section--img-bg
		.container
			.form-section__block.form-section__block--dark
				.form-section__block-title Отправить заявку на проект
				form(action="#!")
					.form-section__block-wrap
						.row
							.col-sm-6
								.form-group
									input.form-control(type="text" required)
									label.form-label Ваше имя
								.form-group
									input.form-control.js-mask(type="tel" required)
									label.form-label Ваш телефон
								.form-group
									input.form-control.js-mask(type="email" required)
									label.form-label Ваш e-mail
							.col-sm-6
								.form-group
									textarea.form-control.form-control--area(name="message" required)
									label.form-label Сообщение \ Описание задачи
					.row
						.col-sm-6
							input.js-politicks-checkbox#politicks-1(type="checkbox" checked required)
							label.form-label--checkbox(for="politicks-1")
								| Соглашаюсь с 
								a.form-link(href="#!") политикой обработки персональных данных
						.col-sm-6
							button.btn.btn-default.btn-lg.form-btn(type="submit") Отправить
	// / форма