extends includes/_layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Портфолио общая страница
block content
	.container
		h1.title.text-center Портфолио
	// работы
	.flex-section#portfolio
		.col-sm-6.flex-section__block
			a.flex-section__block-item.flex-section__block-item--large(href="#!" style="background: url(../img/content/portfolio.jpg) 0 0 no-repeat")
				span.flex-section__block-item-title Сайт компании «BrusCustom»
				span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
				.flex-section__block-item-block-link
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
					span.flex-section__block-item-block-link-devider /
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.col-sm-6.no-padding
			.flex-section
				a.flex-section__block.col-sm-6(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
				a.flex-section__block.col-sm-6(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Тейбл тент ресторана Prime Beef
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
				a.flex-section__block.col-sm-6(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
				a.flex-section__block.col-sm-6(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Фирменный стиль «Bernardo Paoli»
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.col-sm-3.no-padding
			.flex-section
				a.flex-section__block.col-sm-12(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
				a.flex-section__block.col-sm-12(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Тейбл тент ресторана Prime Beef
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.col-sm-6.flex-section__block
			a.flex-section__block-item.flex-section__block-item--large(href="#!" style="background: url(../img/content/portfolio.jpg) 0 0 no-repeat")
				span.flex-section__block-item-title Сайт компании «BrusCustom»
				span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
				.flex-section__block-item-block-link
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
					span.flex-section__block-item-block-link-devider /
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.col-sm-3.no-padding
			.flex-section
				a.flex-section__block.col-sm-12(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
				a.flex-section__block.col-sm-12(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Тейбл тент ресторана Prime Beef
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.col-sm-3.no-padding
			.flex-section
				a.flex-section__block.col-sm-12(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
				a.flex-section__block.col-sm-12(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Тейбл тент ресторана Prime Beef
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.col-sm-3.no-padding
			.flex-section
				a.flex-section__block.col-sm-12(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Вечерние афиши ресторана «Бараш»
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
				a.flex-section__block.col-sm-12(style="background: url(../img/content/work-2.jpg) center no-repeat" href="#!")
					.flex-section__block-item
						span.flex-section__block-item-title.flex-section__block-item-title--sm Тейбл тент ресторана Prime Beef
						span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
						.flex-section__block-item-block-link
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
							span.flex-section__block-item-block-link-devider /
							span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
		.col-sm-6.flex-section__block
			a.flex-section__block-item.flex-section__block-item--large(href="#!" style="background: url(../img/content/portfolio.jpg) 0 0 no-repeat")
				span.flex-section__block-item-title Сайт компании «BrusCustom»
				span.flex-section__block-item-text Сайт компании строящей дома из бруса и производящей стройматериалы
				.flex-section__block-item-block-link
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Сайты
					span.flex-section__block-item-block-link-devider /
					span.flex-section__block-item-block-link-value(onclick="location.href='http://site.ru'") Корпоративные
	// / работы
	// стоимость работ
	.cost-section
		.container
			.cost-section__block
				.row
					.col-sm-4
						img.cost-section__block-img(src="img/cost.png", alt="")
					.col-sm-8
						span.cost-section__block-title — Сколько стоит создание сайта?
						span.cost-section__block-sub-title Примерно:
						span.cost-section__block-text 
							| Посмотрите 
							a(href="#!") цены «ОТ»
						span.cost-section__block-sub-title ТОЧНЕЕ:
						span.cost-section__block-text 
							| Заполните 
							a.dashed.js-order-trigger(href="#!") быструю заявку 
							| на создание сайта онлайн или 
							a(href="#!") скачайте наш БРИФ
							| , заполните его и отправьте на 
							a(href="mailto:mail@latypovstudio.ru") mail@latypovstudio.ru
	// / стоимость работ