extends includes/_layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Событие внутренняя
block content
	.container
		h1.title.text-center Студии исполняется 7 лет
		.row
			.col-sm-9
				.news__list
					.news__list-item
						span.news__list-item-date 19/05/17
						a.news__list-item-link(href="#!") Студии исполняется 7 лет
						span.news__list-item-preview Каждый создаваемый нами продукт (от логотипа и визитки до поддержки и продвижения сайта) является шагом к развитию бизнеса нашего клиента и за время нашей работы было создано более 180 проектов.
						img.news__list-item-img(src="img/content/news-img.jpg", alt="")
						.news__list-item-description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias esse cumque quae, perferendis neque voluptate recusandae, rem soluta quam error reiciendis consequuntur. Officia delectus quidem blanditiis eum incidunt temporibus, nobis officiis sunt possimus est, adipisci quam. Asperiores id corporis repellendus excepturi commodi, facilis consectetur minus adipisci ratione consequatur necessitatibus molestiae. Placeat, aspernatur veritatis officia. Velit repellat vel hic molestias laudantium quasi error qui, sed distinctio quia cumque quod debitis at, rerum similique iusto consequuntur harum. Libero exercitationem, alias, magni veniam aut impedit. Perspiciatis dignissimos, similique quis ullam, dolorem sunt. Deleniti quo reprehenderit ratione. Sed voluptates nesciunt consectetur neque magni aspernatur ipsum adipisci quas, aut dicta possimus quisquam, earum facere deleniti beatae perspiciatis nisi modi. Iusto sed sequi quasi ducimus alias est ex laborum tenetur quae fugit, sint, iure eaque et eligendi reprehenderit debitis perferendis qui ipsum ea voluptates? Voluptates, mollitia exercitationem, quod blanditiis atque qui minima ea corporis, maxime libero ab repellendus consequuntur delectus eaque ex voluptas tempore pariatur tempora dolorem assumenda, beatae incidunt. Velit labore provident optio fuga consequatur numquam expedita sequi nesciunt similique dolore, praesentium voluptates dolorum eligendi fugiat aperiam nihil quos voluptatibus asperiores illum blanditiis, in vero excepturi nisi cupiditate suscipit. Eligendi cupiditate consectetur sed praesentium, ducimus fugiat blanditiis itaque culpa sint totam minima doloremque earum beatae possimus rerum eveniet provident tenetur quibusdam iste saepe dicta. Facilis, repellat quibusdam, numquam consequuntur reiciendis est, commodi, molestias provident cumque distinctio dolorem natus. Harum aspernatur corrupti debitis asperiores cumque velit natus saepe officia odit dignissimos nesciunt quaerat modi deleniti dolores quia facilis nostrum voluptates nulla nemo ipsa, perspiciatis est fugit. Repellat in, recusandae cupiditate adipisci eos facilis suscipit, similique quia, obcaecati corrupti earum! Porro sunt, ullam quod maiores quaerat ut numquam laboriosam, expedita ex at perferendis explicabo suscipit, necessitatibus quo nobis id non, officia modi provident doloremque dicta eaque. Error quos, et eius commodi, expedita numquam voluptatum animi esse labore dignissimos saepe sunt nam mollitia sit atque enim quaerat culpa cumque, voluptates consequatur dolorum assumenda facilis a? Adipisci dicta maxime reprehenderit rem eos aliquam dolorum, numquam sed, inventore sequi fugiat iusto, iure iste suscipit hic consequuntur quasi consectetur voluptatem possimus! Dolorum quaerat maxime temporibus animi laboriosam ipsum eligendi blanditiis repellat, culpa facilis assumenda optio possimus perferendis provident nulla adipisci dolorem cumque qui, veritatis voluptate velit? Cumque explicabo voluptatibus excepturi sunt architecto accusamus. Est ratione maiores in similique cupiditate id numquam repudiandae corporis reiciendis, eius? Accusamus minus laborum, pariatur eaque ipsam, nisi aut placeat quia reprehenderit dolorem adipisci voluptatum aliquid odit at ducimus possimus similique explicabo, perferendis quis aperiam vel voluptatibus quisquam corporis. Excepturi nemo necessitatibus atque dolores quo expedita ratione officiis similique, mollitia molestiae, illo tempora. Quibusdam maxime quis quam magnam vitae, aperiam enim? Est rem aperiam pariatur quis consectetur impedit similique laudantium totam soluta. Sit et nihil, dolore rerum omnis cum laboriosam est ipsam obcaecati cumque minima enim, consequatur nesciunt quae optio! Placeat minima maiores repellat cumque sequi voluptas possimus, eos at impedit, fugit ullam necessitatibus labore, officia natus! Molestiae ex repellat cumque nisi, harum officiis sequi debitis atque. 
						.news__list-item-tags
							a.news__list-item-tags-link(href="#!") #новости и события
							a.news__list-item-tags-link(href="#!") #вакансии
							a.news__list-item-tags-link(href="#!") #новости и события
							a.news__list-item-tags-link(href="#!") #вакансии
				.text-center
					a.btn.btn-info.btn-lg(href="javascript:void(0)") К списку событий
				br
				br
				br
				br
			.col-sm-3
				.news__sidebar
					.news__sidebar-block
						span.news__sidebar-block-title По тэгам:
						ul.news__sidebar-list
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link.news__sidebar-list-item-link--red(href="#!")
									span Все
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link.news__sidebar-list-item-link--red(href="#!")
									span #новости и события
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link.news__sidebar-list-item-link--red(href="#!")
									span #вакансии
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link.news__sidebar-list-item-link--red(href="#!")
									span #студия
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link.news__sidebar-list-item-link--red(href="#!")
									span #процесс
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link.news__sidebar-list-item-link--red(href="#!")
									span #вне работы
					.news__sidebar-block
						span.news__sidebar-block-title По годам:
						ul.news__sidebar-list
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link(href="#!")
									span 2015
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link(href="#!")
									span 2014
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link(href="#!")
									span 2013
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link(href="#!")
									span 2012
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link(href="#!")
									span 2011
							li.news__sidebar-list-item
								a.news__sidebar-list-item-link(href="#!")
									span 2010