extends includes/_layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Вакансии внутренняя
block content
	.container
		h1.title.text-center Администратор высоконагруженных систем
		p.vacancy-section__text Меня зовут Игорь, и мне нужен человек, способный дополнить любую визуальную единицу оригинальным звучанием. Успешному кандидату предстоит создавать с нуля мелодию и ритм, работать с полевыми записями.
		p.vacancy-section__text Для начала разговора нужно прислать ссылку на портфолио и кратко обозначить свои музыкальные предпочтения. Присылайте свои данные на <a href="mailto:olga@latypovstudio.ru">olga@latypovstudio.ru</a>
		.text-center
			br
			br
			br
			br
			br
			br
			a.btn.btn-info.btn-lg(href="#!") К списку вакансий
			br
			br
			br
			img.vacancy-section__block-img(src="img/content/v-img-1.png", alt="")