extends includes/_layout
block append head
	meta(name="description" content="")
	meta(name="keywords" content="")
	title Вакансии
block content
	.container
		h1.title.text-center Работа в студии
		.vacancy-section
			.vacancy-section__block
				a.vacancy-section__block-link(href="#!") Администратор высоконагруженных систем
			.vacancy-section__block
				a.vacancy-section__block-link(href="#!") Графический дизайнер
			.vacancy-section__block
				a.vacancy-section__block-link(href="#!") Веб-разработчик
			p.vacancy-section__block-text Резюме и вопросы по вакансиям присылайте на <a href="mailto:olga@latypovstudio.ru">olga@latypovstudio.ru</a>
			img.vacancy-section__block-img(src="img/content/v-img-1.png", alt="")