footer.footer
	.container
		.row
			.col-md-4.col-sm-6
				p.footer__text &copy; 2010 – 2017
				p.footer__text Студия Латыпова
				.footer__social
					a.footer__social-link.footer__social-link--fb(href="#!" target="_blank")
					a.footer__social-link.footer__social-link--inst(href="#!" target="_blank")
				a.footer__link.footer__link--presentation(href="#!" target="_blank") Презентация студии
			.col-md-3.col-sm-6.sm-text-right.col-lg-offset-1
				a.footer__text(href="tel:+74993901758") +7 (499) 390-17-58
				a.footer__link(href="mailto:mail@latypovstudio.ru" target="_blank") mail@latypovstudio.ru
				p.footer__text.footer__text--small г.Москва, Сущевская ул. д35, офис 200
			.col-lg-4.col-md-5.hidden-sm
				.footer__menu
					ul.footer__menu-list
						each item in menu
							li.footer__menu-list-item
								a.footer__menu-list-item-link(href="#!") #{item}
				.text-right.xs-text-center
					a.footer__link(href="#!") Sitemap