doctype html
include _vars
html(lang="ru")
	include _head
	body(class="#{error == true ? 'error-page':''}")
		include components/_fixed-content
		.main-wrapper
			.main-wrapper__content
				// шапка 
				include _header
				// конец шапка
				// контент
				.content
					block content
		// футер
		if error != true
			include _footer
		// конец футер
		// модальные окна
		include _modals
		// конец модальные окна
		// подключаемые скрипты
		include _script
		// конец подключаемые скрипты