- menu = ["Портфолио", "Услуги", "О студии", "Контакты"]
- portfolio = ["Все работы", "Сайты", "Граф. дизайн", "Брендинг"]
//- portfolio = ["Все работы", "Сайты", "Граф. дизайн", "Брендинг", "Портфолио", "Услуги", "О студии", "Контакты"]