.col-sm-4
	.feedback__block
		.row
			.col-sm-4.text-center
				img.feedback__block-img(src="/img/content/feedback.png", alt="")
			.col-sm-8.no-padding
				p.feedback__block-title «Nest»
				p.feedback__block-position Армен Погосян (Генеральный директор)
				p.feedback__block-preview Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem labore beatae deserunt nostrum! Repellendus distinctio, ducimus non sed iure facere rem labore, natus sint, veniam laboriosam. Voluptatum eaque cumque ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam similique, incidunt ea cum officiis dicta, rerum quas ducimus veritatis libero reprehenderit animi consectetur at quae saepe consequuntur, neque, tempora!
				a.feedback__block-btn(href="#!") Читать подробнее